::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f0b99;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7b48ff;
}

*{
  background-color: #FCD460;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


